autom4te.cache/
Makefile
Makefile.in
config.log
config.status
threadutil/.libs/
threadutil/src/.deps/
upnp/.libs/
sample/.libs/
sample/.deps/
sample/common/.deps/
sample/ctrlpt
upnp/src/.deps/
upnp/src/api/.deps/
upnp/src/gena/.deps/
upnp/src/genlib/client_table/.deps/
upnp/src/genlib/miniserver/.deps/
upnp/src/genlib/net/.deps/
upnp/src/genlib/net/http/.deps/
upnp/src/genlib/net/uri/.deps/
upnp/src/genlib/service_table/.deps
upnp/src/genlib/util/.deps/
upnp/src/soap/.deps/
upnp/src/ssdp/.deps/
upnp/src/urlconfig/.deps/
upnp/src/uuid/.deps/
util/.libs/
util/src/.deps/
*.o
*.la
*.lo
aclocal.m4
autoconfig.h
autoconfig.h.in
build/inc/autoconfig.h
configure
ctrlpt
libupnp.pc
stamp-h1
docs/dist/Makefile.in
cscope.files
cscope.out
libtool
threadutil/Makefile.in
upnp/Makefile.in
upnp/doc/Makefile.in
upnp/sample/Makefile.in
upnp/sample/json.txt
web
